<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
      <a class="back link" href="/pages/index">Back</a>
    </div>
  </div>
</div>

<div class="page" data-page="about">
  <div class="page-content">
    <div class="content-block">
      <p>Hi!  I'm a paragraph on the about page.  i'm so wonderful</p>
    </div>
  </div>
</div>
