<div class="page" data-page="index">
  <div class="page-content">
    <p>Hi there!</p>
    <%= link_to "Show", '/pages/show' %>
    <br>
    <%= link_to "About", '/pages/about' %>
    <br>
    <%= link_to "Eric", '/pages/eric' %>
  </div>
</div>
