<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
      <a class="back link" href="/pages/index">Back</a>
    </div>
  </div>
</div>


<div class="page" data-page="show">
  <div class="page-content">
  <h1>Show</h1>
  <p>Show</p>
  </div>
</div>
